<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="Navbar">





        <div class="LogoMarvel">
            
            <h3 class="Inicio">Realizado por:</h3>
            <br>
            <h3 class="Inicio">Jonathan Isaac Gonzalez vargas</h3>
            <br>
            <h3 class="Inicio">Ivan camilo Contreras Florez</h3>
            <br>
            <h3 class="Inicio">Aplicacion educativa dedicada a la multimedia</h3>

            <img src="./assets/icons/UCC.png" alt="" class="ucc">
        </div>















    </div>






</body>

</html>