* {
    font-family: TITULOS;
    color: rgb(255, 255, 255);
}






.Navbar {
    background-color: #2C701A;
    color: white;
    height: 100;    
    height: 20vh;
    
}

.barra1 {
    width: 100vh;
    height: 8vh;
}

.btnnavbar {
    
    width: 50vh;
    height: 10vh;
    

}

.login {
    width: 4vh;
    height: 100;
    position: relative;
    transform: translate(18vh, 0vh);

}

.Titulo {
    font-size: 35px;
    width: 6vh;
    height: 8vh;    
    margin-left: 20vh;
    position: relative;
    transform: translate(0,0vh);
    
}

.Inicio {
    margin-top: 30px;
    margin-left: 30px;

    font-size: 15px;      
    justify-content: center;
    
    
    
}

.LogoMarvel {
    display: flex;
    justify-content: space-between;
    width: 85vh;
    height: 5vh;
    margin-left: 55vh;
}

.Marvel {
    width: 15vh;
    height: 12vh;
    position: relative;
    transform: translate(35vh, 3vh);
}


.Subscribe {
    width: 15vh;
    height: 12vh;
    position: relative;
    transform: translate(19vh, 4vh);
    margin-left: 6vh;
}

.Subscribe2 {
    font-size: 35px;
    width: 3vh;
    height: 5vh;
    position: relative;
    transform: translate(40vh, -11vh);
    margin-left: 3vh;
    white-space: nowrap;
}



.ucc{
  
    margin-top: 2vh;
    width: 15vh;
    height: 15vh;
}